* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  // main menu
  .mainmenu {
    width: 300px;
    height: auto;
    border: 0.2 solid white;
    border-radius: 0% 0% 0.5% 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f8f9fa;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    h3 {
      color: #6b6e72;
      text-align: center;
      padding: 10px;
    }
    .list-menu {
      ul {
        width: 80%;
        margin: auto;
        li {
          text-align: center;
          list-style-type: none;
          border: 1px solid white;
          padding: 5px;
          margin-bottom: 10px;
          border-radius: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
    .search-menu {
      height: 100px;
    }
  }
  .icon-menu-nav {
    float: right;
    cursor: pointer;
  }

  .line-break {
    width: 100%;
  }
}

//  Post Content
.main-content {
  margin-top: 50px;
  border: 1px gray;
  border-radius: 2%;
  box-shadow: 10px 20px 25px grey;
  height: 100%;
  text-align: center;
  .post-control {
    padding: 20px;
    img {
      width: 100%;
    }
  }
}

// footer
footer {
  height: 100%;
  padding: 40px;
  background-color: #484f58;
  margin-top: 50px;
  color: whitesmoke;
  .icon-blog {
    padding-left: 20px;
    padding-right: 20px;
  }
}
